.banki__logo_alpha {
    background-image: url('../../../../images/alpha_logo.png')
}

@media screen and (max-width: 1190px) {
    .banki__logo_alpha {
        background-image: url('../../../../images/alpha_logo_tablet.png');
    }
}

@media screen and (max-width: 768px) {
    .banki__logo_alpha {
        background-image: url('../../../../images/alpha_logo_mobile.png');
    }
}